* {
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    max-width: 100%;
}
.quiz-header {
    padding: 4em;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}
ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}
button {
    background-color: #353083;
    color: white;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 2rem;
    border-radius: 0px 0px 10px 10px;
}
button:hover{
    background-color: rgb(26, 29, 243);
}